.listNote__addNote {
    position: fixed;
    z-index: 20;
    bottom: 20px;
    left: 20px;
    background-color: #39BAFF;
    border-radius: 100%;
}

.listNote__addNoteButton {
    background-color: #3890FB;
    padding: 12px 20px;
    border-radius: 100%;
}