.noteContainer {
    display: flex;
    flex-direction: column;
    /* 300px: sidebar: 250px; padding: 40px; border: ~10px*/
}

.note__title,
.note__body {
    resize: none;
    font-family: 'Shantell Sans', cursive;
    border: none;
    outline: none;
}

.note__title {
    font-size: xx-large;
    font-weight: 600;
    border-bottom: 3px solid #39BAFF;
    padding-bottom: 20px;
}

.note__body {
    margin-top: 20px;
    font-size: large;
    font-weight: 500;
}