* {
    font-family: 'Shantell Sans', cursive;
}

:root {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;

    /* color-scheme: light dark; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    height: 100%;

    /* colour variables */
    /* sidebar heading and note title underline*/
    --primary-blue: brown;

    /* add note button and searchbar border*/
    --primary-blue-dark: brown;

    /* sidebar listnote bg */
    --secondary-blue: brown;

    /* sidebar listnote bottom border */
    --secondary-blue-light: brown;

    /* searchbar and note  background */
    --primary--white: brown;

    /* text color*/
    --primary--black: black;

    /* normal button bg */
    --primary-gray: grey;

    /* delete button border and bg*/
    --primary-red: grey;
}


a {
    color: black;
    text-decoration: inherit;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
}

body.darkTheme {}

h1 {
    font-size: xx-large;
    font-weight: 600;
    line-height: 1.1;
    margin: 0;
    padding-bottom: 20px;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}


@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}